.mainWrapper {
    display: flex;
    align-items: center;
    min-width: 505px;
    height: 100vh;
    background-color: #363636;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.menuWrapper {
    height: 644px;
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
}