.mainWrapper {
    margin-top: 0.938em;
    
    &__titleWrapper {
        display: flex;
        align-items: center;
        gap: 0.75em;
    }

    &__modification {
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__close {
        width: 0.75em;
        height: 0.75em;
        cursor: pointer;
    }
}