.mainWrapper {
    margin-top: 15px;
    
    &__titleWrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__modification {
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__close {
        width: 12px;
        height: 12px;
        cursor: pointer;
    }
}