@use "./variables.scss" as *;

* {
    margin: 0;
}

html {
    font-family: "Work Sans", sans-serif;
}

h1 {
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: $black;
}

