@use "./variables.scss" as *;

* {
    margin: 0;
}

html {
    font-family: $work-sans-font-family;
}

h1 {
    font-family: $epilogue-font-family;
    font-weight: 500;
}

h2 {
    font-family: $epilogue-font-family;
    font-weight: 600;
    font-size: 1.875em;
}

a {
    text-decoration: none;
    color: $black;
}

