$main-background-color: #FFF4E8;
$black: #000;
$white: #fff;
$brown: #C5A073;

$main-green: #8BC7B1;
$secondary-green: #6FDAC1;
$modify-color: #374151;
$not-clickable-btn-background-color: #CCCCCC;

$work-sans-font-family: "Work Sans", sans-serif;
$epilogue-font-family: "Epilogue", sans-serif;
$baskerville-font-family: "Baskervville", serif;
$rubik-font-family:  "Rubik", sans-serif;
$proza-libre-font-family: "Proza Libre", sans-serif;