@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

// hero section
.heroSection {
    background-color: $main-background-color;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 5.625em;
    padding-top: 5.125em;
    padding-bottom: 9.125em;

    &__imgWrapper {
        position: relative;
        height: 29.75em;
        width: 27.375em;
        border-radius: 0.5em;
        border: 0.063em solid $brown;
    }

    &__img {
        height: 100%;
        width: 100%;
        border-radius: 0.5em;
        transform: translate(1.25em, -1.25em);
    }
}

.heroSectionContent {
    padding-top: 2em;
    max-width: 32.5em;

    &__title {
        font-size: 2.625em;
    }

    &__para {
        font-size: 1.25em;
        margin-top: 2em;
        margin-bottom: 3.25em;
    }
}


// menu customization section
.customizationSection {
    background-color: $white;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 5.625em;
    padding-bottom: 6.375em;
    gap: 6.125em;
}

.customizationSectionContent {
    max-width: 27.375em;
    margin-top: 3.125em;
    margin-left: 9.375em;

    &__title {
        font-size: 1.875em;
    }

    &__para {
        font-size: 1.25em;
        margin-top: 1.875em;
        margin-bottom: 3.25em;
    }
}

.customizationSectionImgWrapper {
    &__firstImg {
        margin-right: 1.25em;
        width: 19em;
        height: 28.438em;
    }

    &__secondeImg {
        width: 21.313em;
        height: 28.438em;
    }
}