@use "../../styles/variables.scss" as *;

.aside {
    z-index: 500;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}