@use "../../styles/variables.scss" as *;

.main {
    display: flex;
}

.createMenuSection {
    background-color: $main-background-color;
    width: 100%;
    padding: 6.25em;

    &__para {
        margin-top: 1.563em;
        margin-bottom: 3.375em;
    }
}

.insertWrapper {
    margin-bottom: 1em;
    list-style-type: none;
    padding-left: 0;
    
    &__liItem {
        background-color: $white;
        margin-bottom: 1px;
        
        &_top {
            border-top-left-radius: 0.625em;
            border-top-right-radius: 0.625em;
        }
    }
}

.headingWrapper {
    padding: 2.063em 3.375em 2.063em 3.75em;
    position: relative;
    cursor: pointer;

    &__number {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 50%;
        color: $white;
        font-size: 0.875em;
        width: 1.375em;
        height: 1.375em;
        left: 1.75em;
    }

    &__title {
        font-size: 1rem;
        font-weight: 500;
    }
}

.accordionsWrapper {
    height: 0;
    overflow: auto;
    transition: height 200ms ease-in-out;
    padding-left: 3.75em;
    padding-right: 3.375em;
    
    &_active {
        height: 12.5em;
    }
}